workflows/WF_UNIFIED_LEGAL_AUTOMATION.json
{
  "name": "WF_UNIFIED_LEGAL_AUTOMATION",
  "nodes": [
    {
      "parameters": {
        "path": "case/create",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "name": "CASE_CREATE_AND_FOLDERS :: Webhook Case Create",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "={{$env.GSHEET_ID}}",
        "range": "дела!A:G"
      },
      "name": "CASE_CREATE_AND_FOLDERS :: GS Read Cases",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_main",
          "name": "google_sheets_main"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $items('Webhook Case Create')[0].json;\nconst body = (raw && typeof raw.body === 'object' && raw.body !== null) ? raw.body : raw;\nconst rows = items.map(i => i.json);\nconst code = String(body.case_code || '').trim();\nconst exists = rows.some(r => String(r['код_дела'] || '').trim() === code);\nreturn [{ ...body, case_code: code, exists }];"
      },
      "name": "CASE_CREATE_AND_FOLDERS :: Check Case Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.exists}}",
              "value2": true
            }
          ]
        }
      },
      "name": "CASE_CREATE_AND_FOLDERS :: IF Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 409,
        "responseBody": "={\"error\":\"case_code already exists\"}"
      },
      "name": "CASE_CREATE_AND_FOLDERS :: Respond 409",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1140,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const code = $json.case_code; return [{...$json, incoming:`/Cases/${code}/01_Incoming`, outgoing:`/Cases/${code}/02_Outgoing`, evidence:`/Cases/${code}/03_Evidence`, created_at:new Date().toISOString()}];"
      },
      "name": "CASE_CREATE_AND_FOLDERS :: Build Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        380
      ]
    },
    {
      "parameters": {
        "url": "=http://158.160.191.139/remote.php/dav/files/Vardkes{{$json.incoming}}",
        "method": "MKCOL"
      },
      "name": "CASE_CREATE_AND_FOLDERS :: DAV MKCOL Incoming",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        320
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "nextcloud_webdav",
          "name": "nextcloud_webdav"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://158.160.191.139/remote.php/dav/files/Vardkes{{$json.outgoing}}",
        "method": "MKCOL"
      },
      "name": "CASE_CREATE_AND_FOLDERS :: DAV MKCOL Outgoing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1560,
        320
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "nextcloud_webdav",
          "name": "nextcloud_webdav"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://158.160.191.139/remote.php/dav/files/Vardkes{{$json.evidence}}",
        "method": "MKCOL"
      },
      "name": "CASE_CREATE_AND_FOLDERS :: DAV MKCOL Evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1760,
        320
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "nextcloud_webdav",
          "name": "nextcloud_webdav"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GSHEET_ID}}",
        "range": "дела!A:G",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "код_дела": "={{$json.case_code}}",
            "клиент_id": "={{$json.client_ref || \"\"}}",
            "юрист_id": "={{$json.lawyer_ref || \"\"}}",
            "тип_дела": "={{$json.case_type || \"\"}}",
            "юрисдикция": "={{$json.jurisdiction || \"\"}}",
            "статус": "={{$json.status || \"new\"}}",
            "создано_в": "={{$json.created_at}}"
          }
        }
      },
      "name": "CASE_CREATE_AND_FOLDERS :: GS Append Case",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1960,
        260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_main",
          "name": "google_sheets_main"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GSHEET_ID}}",
        "range": "папки_дел!A:E",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "код_дела": "={{$json.case_code}}",
            "путь_входящие": "={{$json.incoming}}",
            "путь_исходящие": "={{$json.outgoing}}",
            "путь_доказательства": "={{$json.evidence}}",
            "создано_в": "={{$json.created_at}}"
          }
        }
      },
      "name": "CASE_CREATE_AND_FOLDERS :: GS Append Folders",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2160,
        260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_main",
          "name": "google_sheets_main"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 201,
        "responseBody": "={\"status\":\"created\",\"case_code\":$json.case_code}"
      },
      "name": "CASE_CREATE_AND_FOLDERS :: Respond 201",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2360,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$env.YC_METADATA_MIRROR === '1' && !!$env.YC_METADATA_API_URL}}",
              "value2": true
            }
          ]
        }
      },
      "name": "CASE_CREATE_AND_FOLDERS :: IF YC Mirror Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2380,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{$env.YC_METADATA_API_URL + '/cases/upsert'}}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { case_code: $json.case_code, client_ref: $json.client_ref, lawyer_ref: $json.lawyer_ref, case_type: $json.case_type, jurisdiction: $json.jurisdiction, status: $json.status || 'new', incoming_path: $json.incoming, outgoing_path: $json.outgoing, evidence_path: $json.evidence, created_at: $json.created_at } }}"
      },
      "name": "CASE_CREATE_AND_FOLDERS :: YC Mirror Case Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2600,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "yc_backend_api",
          "name": "yc_backend_api"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "path": "case/event/create",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "name": "CASE_EVENT_CREATE :: Webhook Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        1090
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json || {};\nconst b = (raw && typeof raw.body === 'object' && raw.body !== null) ? raw.body : raw;\nconst event_id = String(Date.now());\nconst event_type = b.event_type || 'court_hearing';\nconst timezone = b.timezone || 'Europe/Moscow';\nconst event_date = b.event_date || null;\nconst start_time = b.start_time || null;\nconst end_time = b.end_time || null;\nconst start_at = b.start_at || (event_date && start_time ? `${event_date}T${start_time}:00+03:00` : null);\nconst end_at = b.end_at || (event_date && end_time ? `${event_date}T${end_time}:00+03:00` : null);\nif (!start_at || !end_at) {\n  throw new Error('Для события нужны start_at и end_at (или event_date + start_time + end_time).');\n}\nreturn [{\n  ...b,\n  event_type,\n  event_id,\n  timezone,\n  event_date,\n  start_time,\n  end_time,\n  start_at,\n  end_at,\n  reminder_24h: b.reminder_24h !== false,\n  reminder_2h: b.reminder_2h !== false,\n  reminder_30m: b.reminder_30m === true,\n  custom_reminder_minutes: Number(b.custom_reminder_minutes || 0) || 0,\n  created_at: new Date().toISOString()\n}];"
      },
      "name": "CASE_EVENT_CREATE :: Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        1090
      ]
    },
    {
      "parameters": {
        "url": "=https://caldav.yandex.ru/calendars/astrarav%40yandex.ru/events-36560758/{{$json.event_id}}.ics",
        "method": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/calendar; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=BEGIN:VCALENDAR\\nVERSION:2.0\\nPRODID:-//n8n//Legal Workflow//RU\\nBEGIN:VEVENT\\nUID:{{$json.event_id}}\\nDTSTAMP:{{$now.toFormat(\"yyyyMMdd'T'HHmmss'Z'\")}}\\nSUMMARY:[{{$json.case_code}}] {{$json.event_type}}\\nDTSTART:{{DateTime.fromISO($json.start_at).toUTC().toFormat(\"yyyyMMdd'T'HHmmss'Z'\")}}\\nDTEND:{{DateTime.fromISO($json.end_at).toUTC().toFormat(\"yyyyMMdd'T'HHmmss'Z'\")}}\\nEND:VEVENT\\nEND:VCALENDAR"
      },
      "name": "CASE_EVENT_CREATE :: Calendar Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        700,
        1090
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "yandex_calendar_api",
          "name": "yandex_calendar_api"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GSHEET_ID}}",
        "range": "события_календаря!A:G",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_события": "={{$json.event_id}}",
            "код_дела": "={{$json.case_code}}",
            "тип_события": "={{$json.event_type}}",
            "начало": "={{$json.start_at}}",
            "конец": "={{$json.end_at}}",
            "внешний_id_события": "={{$json.id}}",
            "создано_в": "={{$json.created_at}}"
          }
        }
      },
      "name": "CASE_EVENT_CREATE :: GS Append Event",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        940,
        1090
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_main",
          "name": "google_sheets_main"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GSHEET_ID}}",
        "range": "напоминания!A:H",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_напоминания": "={{$json.event_id + \"-24h\"}}",
            "id_события": "={{$json.event_id}}",
            "роль_получателя": "lawyer",
            "telegram_chat_id": "={{$json.lawyer_chat_id}}",
            "текст_сообщения": "={{\"Напоминание: событие по делу \" + $json.case_code + \" через 24 часа.\"}}",
            "отправить_в": "={{DateTime.fromISO($json.start_at).minus({hours:24}).toISO()}}",
            "статус": "={{$json.reminder_24h === false ? 'cancelled' : 'pending'}}",
            "отправлено_в": ""
          }
        }
      },
      "name": "CASE_EVENT_CREATE :: GS Append Reminder 24h",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1180,
        1050
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_main",
          "name": "google_sheets_main"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GSHEET_ID}}",
        "range": "напоминания!A:H",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_напоминания": "={{$json.event_id + \"-2h\"}}",
            "id_события": "={{$json.event_id}}",
            "роль_получателя": "lawyer",
            "telegram_chat_id": "={{$json.lawyer_chat_id}}",
            "текст_сообщения": "={{\"Напоминание: событие по делу \" + $json.case_code + \" через 2 часа.\"}}",
            "отправить_в": "={{DateTime.fromISO($json.start_at).minus({hours:2}).toISO()}}",
            "статус": "={{$json.reminder_2h === false ? 'cancelled' : 'pending'}}",
            "отправлено_в": ""
          }
        }
      },
      "name": "CASE_EVENT_CREATE :: GS Append Reminder 2h",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1400,
        1050
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_main",
          "name": "google_sheets_main"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 201,
        "responseBody": "={\"status\":\"created\",\"event_id\":$json.event_id}"
      },
      "name": "CASE_EVENT_CREATE :: Respond 201",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1620,
        1090
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{Boolean(($json.client_chat_id && $json.payment_due_at) || $json.reminder_30m === true || Number($json.custom_reminder_minutes || 0) > 0)}}",
              "value2": true
            }
          ]
        }
      },
      "name": "CASE_EVENT_CREATE :: IF Client Payment Reminder",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1620,
        1170
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GSHEET_ID}}",
        "range": "напоминания!A:H",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_напоминания": "={{$json.payment_due_at ? ($json.event_id + '-payment') : (Number($json.custom_reminder_minutes || 0) > 0 ? ($json.event_id + '-custom') : ($json.event_id + '-30m'))}}",
            "id_события": "={{$json.event_id}}",
            "роль_получателя": "={{$json.payment_due_at ? 'client' : 'lawyer'}}",
            "telegram_chat_id": "={{$json.payment_due_at ? $json.client_chat_id : $json.lawyer_chat_id}}",
            "текст_сообщения": "={{$json.payment_due_at ? ('Напоминание об оплате по делу ' + $json.case_code + ($json.payment_amount ? ('. Сумма: ' + $json.payment_amount) : '')) : ('Напоминание: событие по делу ' + $json.case_code + (Number($json.custom_reminder_minutes || 0) > 0 ? (' через ' + Number($json.custom_reminder_minutes || 0) + ' минут.') : ' через 30 минут.'))}}",
            "отправить_в": "={{$json.payment_due_at ? $json.payment_due_at : DateTime.fromISO($json.start_at).minus({minutes: Number($json.custom_reminder_minutes || 30)}).toISO()}}",
            "статус": "={{$json.payment_due_at ? 'pending' : (($json.reminder_30m === true || Number($json.custom_reminder_minutes || 0) > 0) ? 'pending' : 'cancelled')}}",
            "отправлено_в": ""
          }
        }
      },
      "name": "CASE_EVENT_CREATE :: GS Append Client Payment Reminder",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1840,
        1170
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_main",
          "name": "google_sheets_main"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$env.YC_METADATA_MIRROR === '1' && !!$env.YC_METADATA_API_URL}}",
              "value2": true
            }
          ]
        }
      },
      "name": "CASE_EVENT_CREATE :: IF YC Mirror Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2060,
        1090
      ]
    },
    {
      "parameters": {
        "url": "={{$env.YC_METADATA_API_URL + '/events/upsert'}}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { event_id: $json.event_id, case_code: $json.case_code, event_type: $json.event_type, start_at: $json.start_at, end_at: $json.end_at, timezone: $json.timezone, lawyer_chat_id: $json.lawyer_chat_id, client_chat_id: $json.client_chat_id || null, payment_due_at: $json.payment_due_at || null, payment_amount: $json.payment_amount || null, created_at: $json.created_at } }}"
      },
      "name": "CASE_EVENT_CREATE :: YC Mirror Event Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2280,
        1070
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "yc_backend_api",
          "name": "yc_backend_api"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "name": "REMINDER_DISPATCH_CRON :: Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        1920
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "={{$env.GSHEET_ID}}",
        "range": "напоминания!A:H"
      },
      "name": "REMINDER_DISPATCH_CRON :: GS Read Reminders",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        1920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_main",
          "name": "google_sheets_main"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "={{$env.GSHEET_ID}}",
        "range": "журнал_отправки_напоминаний!A:D"
      },
      "name": "REMINDER_DISPATCH_CRON :: GS Read Sent Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        700,
        1920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_main",
          "name": "google_sheets_main"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reminders = $items('GS Read Reminders').map(i => i.json);\nconst sentIds = new Set(items.map(i => i.json['id_напоминания']).filter(Boolean));\nconst now = new Date();\nreturn reminders.filter(r => r['статус'] === 'pending' && new Date(r['отправить_в']) <= now && !sentIds.has(r['id_напоминания'])).map(r => ({ json: r }));"
      },
      "name": "REMINDER_DISPATCH_CRON :: Filter Due",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        1920
      ]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "name": "REMINDER_DISPATCH_CRON :: Split",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1160,
        1920
      ]
    },
    {
      "parameters": {
        "chatId": "={{$json['telegram_chat_id']}}",
        "text": "={{$json['текст_сообщения'] || ($json['роль_получателя'] === 'client' ? 'Напоминание по вашему делу.' : 'Напоминание по событию.')}}"
      },
      "name": "REMINDER_DISPATCH_CRON :: TG Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1380,
        1920
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_main_bot",
          "name": "telegram_main_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GSHEET_ID}}",
        "range": "журнал_отправки_напоминаний!A:D",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_напоминания": "={{$json[\"id_напоминания\"]}}",
            "отправлено_в": "={{$now}}",
            "роль_получателя": "={{$json[\"роль_получателя\"]}}",
            "статус": "sent"
          }
        }
      },
      "name": "REMINDER_DISPATCH_CRON :: GS Sent Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1600,
        1920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_main",
          "name": "google_sheets_main"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$env.YC_METADATA_MIRROR === '1' && !!$env.YC_METADATA_API_URL}}",
              "value2": true
            }
          ]
        }
      },
      "name": "REMINDER_DISPATCH_CRON :: IF YC Mirror Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1820,
        1920
      ]
    },
    {
      "parameters": {
        "url": "={{$env.YC_METADATA_API_URL + '/reminders/sent'}}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { reminder_id: $json['id_напоминания'], recipient_role: $json['роль_получателя'], sent_at: String($now), status: 'sent' } }}"
      },
      "name": "REMINDER_DISPATCH_CRON :: YC Mirror Reminder Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2040,
        1900
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "yc_backend_api",
          "name": "yc_backend_api"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        220,
        2870
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_main_bot",
          "name": "telegram_main_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const m = $json.message || {};\nconst metaText = [m.caption, m.text].filter(Boolean).join(' ');\nconst caseMatch = metaText.match(/[АA]\\d{2}-\\d+\\/\\d{4}|C-\\d{4}-\\d{3}|\\b\\d{4,}\\b/i);\nconst case_code = caseMatch ? caseMatch[0].toUpperCase() : null;\nconst photo = m.photo?.length ? m.photo[m.photo.length - 1] : null;\nconst document = m.document || null;\nconst file_id = document?.file_id || photo?.file_id || null;\nconst extRaw = (document?.file_name || '').split('.').pop()?.toLowerCase();\nconst ext = photo ? 'jpg' : (extRaw || null);\nconst mime = document?.mime_type || (photo ? 'image/jpeg' : null);\nconst allowed = new Set(['jpg','jpeg','png','pdf','doc','docx','txt']);\nif (!file_id) {\n  return [{ invalid: true, notFound: true, error_text: 'Не найден файл. Отправьте фото или документ (PDF/DOCX/TXT).', chat_id: m.chat?.id }];\n}\nif (!case_code) {\n  return [{ invalid: true, notFound: true, error_text: 'Не найден номер дела. Укажите его в подписи, например: A40-12345/2026.', chat_id: m.chat?.id }];\n}\nif (ext && !allowed.has(ext)) {\n  return [{ invalid: true, notFound: true, error_text: `Недопустимый тип файла: .${ext}. Разрешено: jpg, jpeg, png, pdf, doc, docx, txt.`, chat_id: m.chat?.id }];\n}\nreturn [{\n  invalid: false,\n  case_code,\n  from_id: m.from?.id || null,\n  chat_id: m.chat?.id || null,\n  file_id,\n  detected_ext: ext,\n  mime_hint: mime\n}];"
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        2870
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "={{$env.GSHEET_ID}}",
        "range": "папки_дел!A:E"
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: GS Read Folders",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        700,
        2870
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_main",
          "name": "google_sheets_main"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $items('Parse')[0].json;\nif (input.invalid) return [input];\nconst row = items.map(i => i.json).find(r => String(r['код_дела']) === String(input.case_code));\nif (!row) {\n  return [{ ...input, notFound: true, error_text: `Дело ${input.case_code} не найдено. Проверьте номер.` }];\n}\nreturn [{ ...input, folder_path: row['путь_входящие'], notFound: false }];"
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: Match Case",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        2870
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.notFound}}",
              "value2": true
            }
          ]
        }
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: IF Case Missing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        2870
      ]
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "={{$json.error_text || 'Код дела не найден. Проверьте подпись: C-2025-001'}}"
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: TG Case Not Found",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1380,
        2750
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_main_bot",
          "name": "telegram_main_bot"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{$credentials.telegramApi.accessToken}}/getFile?file_id={{$json.file_id}}",
        "method": "GET"
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: TG getFile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1380,
        2950
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{$credentials.telegramApi.accessToken}}/{{$json.result.file_path}}",
        "method": "GET",
        "responseFormat": "file",
        "binaryPropertyName": "data"
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: TG Download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1600,
        2950
      ]
    },
    {
      "parameters": {
        "jsCode": "const ext = ($json.detected_ext || $binary.data.fileExtension || 'bin').toLowerCase();\nconst ts = new Date().toISOString().replace(/[-:]/g,'').slice(0,15);\nconst rnd = Math.random().toString(36).slice(2,8);\nreturn [{...$json, stored_filename:`DOC_${$json.case_code}_${ts}_${rnd}.${ext}`}];"
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: Safe Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        2950
      ]
    },
    {
      "parameters": {
        "url": "=http://158.160.191.139/remote.php/dav/files/Vardkes{{$json.folder_path}}/{{$json.stored_filename}}",
        "method": "PUT",
        "sendBinaryData": true,
        "binaryPropertyName": "data"
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: DAV Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2040,
        2950
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "nextcloud_webdav",
          "name": "nextcloud_webdav"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GSHEET_ID}}",
        "range": "документы!A:H",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_документа": "={{$now.toMillis()}}",
            "код_дела": "={{$json.case_code}}",
            "telegram_id_отправителя": "={{$json.from_id}}",
            "имя_файла_в_хранилище": "={{$json.stored_filename}}",
            "путь_в_хранилище": "={{$json.folder_path + \"/\" + $json.stored_filename}}",
            "mime_тип": "={{$binary.data.mimeType}}",
            "размер_байт": "={{$binary.data.fileSize}}",
            "загружено_в": "={{$now}}"
          }
        }
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: GS Append Document",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2260,
        2950
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_main",
          "name": "google_sheets_main"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "Документ получен и добавлен к вашему делу."
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: TG Ack",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2480,
        2950
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_main_bot",
          "name": "telegram_main_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$env.YC_METADATA_MIRROR === '1' && !!$env.YC_METADATA_API_URL}}",
              "value2": true
            }
          ]
        }
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: IF YC Mirror Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2480,
        2950
      ]
    },
    {
      "parameters": {
        "url": "={{$env.YC_METADATA_API_URL + '/documents/upsert'}}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { doc_id: String($now.toMillis()), case_code: $json.case_code, uploaded_by_telegram_id: String($json.from_id || ''), stored_filename: $json.stored_filename, storage_path: $json.folder_path + '/' + $json.stored_filename, mime_type: $binary.data.mimeType, size_bytes: $binary.data.fileSize, uploaded_at: String($now) } }}"
      },
      "name": "TELEGRAM_DOCUMENT_INGEST :: YC Mirror Document Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2700,
        2910
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "yc_backend_api",
          "name": "yc_backend_api"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "path": "ai/legal/consult",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true
        }
      },
      "name": "AI_LEGAL :: Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json || {};\nconst b = (raw && typeof raw.body === 'object' && raw.body !== null) ? raw.body : raw;\nconst binary = $binary || {};\n\nlet extractedFromFile = '';\nif (binary.file?.data) {\n  const mime = binary.file.mimeType || '';\n  const fileName = binary.file.fileName || 'uploaded_file';\n  if (mime.startsWith('text/')) {\n    extractedFromFile = Buffer.from(binary.file.data, 'base64').toString('utf8');\n  } else {\n    extractedFromFile = `[Файл '${fileName}' (${mime || 'unknown mime'}) получен, но автоизвлечение текста не выполнено. Передайте text/document_text или добавьте OCR/парсер в workflow.]`;\n  }\n}\n\nconst documentText = String(b.document_text || b.text || b.case_text || extractedFromFile || '').trim();\nif (!documentText) {\n  throw new Error('Передайте текст дела в body.document_text / body.text / body.case_text или прикрепите текстовый файл в binary.file');\n}\n\nreturn [{\n  case_code: b.case_code || null,\n  jurisdiction: b.jurisdiction || 'Россия',\n  document_text: documentText\n}];"
      },
      "name": "AI_LEGAL :: Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$env.LEGAL_AI_API_URL || 'https://api.openai.com/v1/chat/completions'}}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $env.LEGAL_AI_MODEL || 'gpt-4o-mini', temperature: 0.2, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'Ты — юридический AI-ассистент для профессиональных юристов и адвокатов. Роль: старший консультант с практической экспертизой 20+ лет по праву РФ (федеральное законодательство, подзаконные акты, судебная практика). Работаешь строго в правовом поле РФ, пишешь профессионально и структурировано. Не выдумывай нормы права: если не уверен — укажи, что требуется проверка по актуальной редакции. Ответ ВСЕГДА только валидным JSON формата: {\"summary\":\"...\",\"key_facts\":[\"...\"],\"legal_qualification\":[\"...\"],\"risks\":[\"...\"],\"recommended_next_steps\":[\"...\"],\"evidence_checklist\":[\"...\"],\"questions_for_client\":[\"...\"],\"disclaimer\":\"...\" }' }, { role: 'user', content: `Юрисдикция: ${$json.jurisdiction}\\nКод дела: ${$json.case_code || 'не указан'}\\n\\nТекст материалов дела:\\n${$json.document_text}` } ] } }}"
      },
      "name": "AI_LEGAL :: LLM Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        760,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "legal_ai_api",
          "name": "legal_ai_api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry {\n  parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  parsed = {\n    summary: String(raw),\n    key_facts: [],\n    legal_qualification: [],\n    risks: ['LLM вернул не-JSON формат, требуется ручная проверка.'],\n    recommended_next_steps: [],\n    evidence_checklist: [],\n    questions_for_client: [],\n    disclaimer: 'Ответ сформирован автоматически, не является юридическим заключением.'\n  };\n}\n\nreturn [{\n  status: 'ok',\n  generated_at: new Date().toISOString(),\n  ...parsed\n}];"
      },
      "name": "AI_LEGAL :: Normalize Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "name": "AI_LEGAL :: Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1260,
        260
      ]
    }
  ],
  "connections": {
    "CASE_CREATE_AND_FOLDERS :: Webhook Case Create": {
      "main": [
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: GS Read Cases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_CREATE_AND_FOLDERS :: GS Read Cases": {
      "main": [
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: Check Case Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_CREATE_AND_FOLDERS :: Check Case Code": {
      "main": [
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: IF Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_CREATE_AND_FOLDERS :: IF Exists": {
      "main": [
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: Respond 409",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: Build Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_CREATE_AND_FOLDERS :: Build Paths": {
      "main": [
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: DAV MKCOL Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_CREATE_AND_FOLDERS :: DAV MKCOL Incoming": {
      "main": [
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: DAV MKCOL Outgoing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_CREATE_AND_FOLDERS :: DAV MKCOL Outgoing": {
      "main": [
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: DAV MKCOL Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_CREATE_AND_FOLDERS :: DAV MKCOL Evidence": {
      "main": [
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: GS Append Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_CREATE_AND_FOLDERS :: GS Append Case": {
      "main": [
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: GS Append Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_CREATE_AND_FOLDERS :: GS Append Folders": {
      "main": [
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: IF YC Mirror Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_CREATE_AND_FOLDERS :: IF YC Mirror Enabled": {
      "main": [
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: YC Mirror Case Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: Respond 201",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_CREATE_AND_FOLDERS :: YC Mirror Case Upsert": {
      "main": [
        [
          {
            "node": "CASE_CREATE_AND_FOLDERS :: Respond 201",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_EVENT_CREATE :: Webhook Event": {
      "main": [
        [
          {
            "node": "CASE_EVENT_CREATE :: Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_EVENT_CREATE :: Prepare": {
      "main": [
        [
          {
            "node": "CASE_EVENT_CREATE :: Calendar Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_EVENT_CREATE :: Calendar Create": {
      "main": [
        [
          {
            "node": "CASE_EVENT_CREATE :: GS Append Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_EVENT_CREATE :: GS Append Event": {
      "main": [
        [
          {
            "node": "CASE_EVENT_CREATE :: GS Append Reminder 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_EVENT_CREATE :: GS Append Reminder 24h": {
      "main": [
        [
          {
            "node": "CASE_EVENT_CREATE :: GS Append Reminder 2h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_EVENT_CREATE :: GS Append Reminder 2h": {
      "main": [
        [
          {
            "node": "CASE_EVENT_CREATE :: IF Client Payment Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_EVENT_CREATE :: IF Client Payment Reminder": {
      "main": [
        [
          {
            "node": "CASE_EVENT_CREATE :: GS Append Client Payment Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CASE_EVENT_CREATE :: IF YC Mirror Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_EVENT_CREATE :: GS Append Client Payment Reminder": {
      "main": [
        [
          {
            "node": "CASE_EVENT_CREATE :: IF YC Mirror Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_EVENT_CREATE :: IF YC Mirror Enabled": {
      "main": [
        [
          {
            "node": "CASE_EVENT_CREATE :: YC Mirror Event Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CASE_EVENT_CREATE :: Respond 201",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CASE_EVENT_CREATE :: YC Mirror Event Upsert": {
      "main": [
        [
          {
            "node": "CASE_EVENT_CREATE :: Respond 201",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REMINDER_DISPATCH_CRON :: Cron": {
      "main": [
        [
          {
            "node": "REMINDER_DISPATCH_CRON :: GS Read Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REMINDER_DISPATCH_CRON :: GS Read Reminders": {
      "main": [
        [
          {
            "node": "REMINDER_DISPATCH_CRON :: GS Read Sent Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REMINDER_DISPATCH_CRON :: GS Read Sent Log": {
      "main": [
        [
          {
            "node": "REMINDER_DISPATCH_CRON :: Filter Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REMINDER_DISPATCH_CRON :: Filter Due": {
      "main": [
        [
          {
            "node": "REMINDER_DISPATCH_CRON :: Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REMINDER_DISPATCH_CRON :: Split": {
      "main": [
        [
          {
            "node": "REMINDER_DISPATCH_CRON :: TG Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REMINDER_DISPATCH_CRON :: TG Send": {
      "main": [
        [
          {
            "node": "REMINDER_DISPATCH_CRON :: GS Sent Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REMINDER_DISPATCH_CRON :: GS Sent Log": {
      "main": [
        [
          {
            "node": "REMINDER_DISPATCH_CRON :: IF YC Mirror Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REMINDER_DISPATCH_CRON :: IF YC Mirror Enabled": {
      "main": [
        [
          {
            "node": "REMINDER_DISPATCH_CRON :: YC Mirror Reminder Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "REMINDER_DISPATCH_CRON :: Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REMINDER_DISPATCH_CRON :: YC Mirror Reminder Sent": {
      "main": [
        [
          {
            "node": "REMINDER_DISPATCH_CRON :: Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM_DOCUMENT_INGEST :: Telegram Trigger": {
      "main": [
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM_DOCUMENT_INGEST :: Parse": {
      "main": [
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: GS Read Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM_DOCUMENT_INGEST :: GS Read Folders": {
      "main": [
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: Match Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM_DOCUMENT_INGEST :: Match Case": {
      "main": [
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: IF Case Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM_DOCUMENT_INGEST :: IF Case Missing": {
      "main": [
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: TG Case Not Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: TG getFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM_DOCUMENT_INGEST :: TG getFile": {
      "main": [
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: TG Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM_DOCUMENT_INGEST :: TG Download": {
      "main": [
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: Safe Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM_DOCUMENT_INGEST :: Safe Filename": {
      "main": [
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: DAV Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM_DOCUMENT_INGEST :: DAV Upload": {
      "main": [
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: GS Append Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM_DOCUMENT_INGEST :: GS Append Document": {
      "main": [
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: IF YC Mirror Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM_DOCUMENT_INGEST :: IF YC Mirror Enabled": {
      "main": [
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: YC Mirror Document Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: TG Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM_DOCUMENT_INGEST :: YC Mirror Document Upsert": {
      "main": [
        [
          {
            "node": "TELEGRAM_DOCUMENT_INGEST :: TG Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_LEGAL :: Webhook": {
      "main": [
        [
          {
            "node": "AI_LEGAL :: Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_LEGAL :: Prepare Input": {
      "main": [
        [
          {
            "node": "AI_LEGAL :: LLM Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_LEGAL :: LLM Analyze": {
      "main": [
        [
          {
            "node": "AI_LEGAL :: Normalize Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_LEGAL :: Normalize Output": {
      "main": [
        [
          {
            "node": "AI_LEGAL :: Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2"
}
